.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(233, 233, 233);
}

/* all images in sidebar links */
.sidebar-link img {
  height: 30px;
}

.sidebar-link div {
  font-size: 10px;
}

@media (min-width: 1300px) {
  .sidebar {
    width: 200px;
  }

  body {
    padding-left: 225px;
  }
}
